html,body{
	height: 100%;
	overflow: hidden;
}
.hide{
	display: none;
}

.listColor {
	background: #3A3F45;
}
body{
	background: url(../img/bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
/*登录注册页面样式*/

.fpage {
	width: 400px;
	background: #FFF;
	text-align: center;
	margin-top: 300px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}

.fpage h2 {
	display: block;
	height: 64px;
	line-height: 64px;
	font-size: 24px;
}

.fpage input {
	width: 300px;
	height: 36px;
	padding: 0 4px;
	margin: 10px auto 0;
	border: 1px solid #e5e5e5;
}

.fpage button {
	width: 300px;
	height: 36px;
	background: #4eb1f4;
	color: #FFF;
	border: 1px solid #4eb1f4;
	margin: 10px auto;
	cursor: pointer;
}

.fpage button:hover {
	background: #1aa1e4;
}

.fpage p {
	margin: 0 auto;
	padding: 0 0 40px;
	text-align: left;
	width: 300px;
	display: block;
}

.fpage i {
	color: #4eb1f4;
	font-style: normal;
}

.fpage i:hover {
	cursor: pointer;
}


/*主界面*/
.main{
	height: 80%;
	min-height: 600px;
	margin: auto 0;
}
.main-inner{	
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	height: 100%;
	position:relative;
}
/*聊天列表*/
.chat-list{
	/*float: left;*/
	position: relative;
	width: 280px;
	height: 100%;
	float: left;
	background: #2e3238;
}
.header{
	padding: 18px;
}
.head-portrait{
	display: table-cell;
	padding-right: 10.625px;
}
.info{
	display: table-cell;
	vertical-align: middle;
	width: 200px;
}
.nikename{
	display: inline-block;
	font-weight: 400;
	width: 156px;
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	line-height: 30px;
}
.list-menu{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background: url(../img/icon.png) no-repeat;
	background-position: -434px -398px;
}
.list-menu ul{
  position: absolute;
  right: 18px;
  top: 56px;
  z-index:1;
  text-align: center;
}
.list-menu li{
  color: #000;
}
.list-menu li:hover{
  background-color: #f5f5f5;
}
.list-menu i{
  width: 34px;
  height: 34px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.search-bar{
	position: relative;
	width: 244px;
	margin: 0 auto 6px;
}
.search-bar i{
	position: absolute;
	top: 1px;
	background: url(../img/icon.png) no-repeat;
	background-position: -60px -432px;
	display: inline-block;
	width: 30px;
	height: 30px;
}
.search-bar input{
	width: 244px;
	height: 32px;
	line-height: 32px;
	border: 0;
	background-color: #26292e;
	color: #fff;
	padding-left: 30px;
	font-size: 12px;
}
.tab{
	height: 35px;
	padding-bottom: 4px;
	border-bottom: 1px solid #24272c;
}
.tab a{
	float: left;
	width: 50%;
	text-align: center;
	/*height: 35px;*/
}
.tab a i{
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
}
/* #friend_group-msg{
	background: url(../img/icon.png) no-repeat;
	background-position: -185px -96px;
} */
#group_msg-friend{
	background: url(../img/icon.png) no-repeat;
	/* background-position: -220px -96px; */
	background-position: -185px -96px;
}
#friend_msg-group{
	background: url(../img/icon.png) no-repeat;
	/* background-position: -376px -322px; */
	background-position: -220px -96px;
}
.chat-list-content{
	position: absolute;
	top: 153px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-y: auto;
}
.chat-list-content a{
	color: #FFF;
	display: block;
	height: 64px;
	padding: 12px 10px 11px;
	border-bottom: 1px solid #292c33;
	position: relative;
	text-decoration:none;
}
.chat-list-content a:hover {
	background: #3A3F45;
}

.chat-list-content i {
	position: absolute;
	top: 6px;
	left: 34px;
	background: url(../img/icon.png) -451px -380px no-repeat;
	width: 22px;
	height: 16px;
	display: inline-block;
	text-align: center;
	font-style: normal;
	font-size: 12px;
}

.chat-list-content span {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

/*聊天盒子*/
.chat-box{
	position: absolute;
	left: 280px;
	right: 0px;
	background-color: #eee;
	height: 100%;
}
.chat-box-hd{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	line-height: 30px;
	height: 51px;
	padding: 10px 0;
	margin: 0 19px;
	border-bottom: 1px solid #d6d6d6;
}
.chat-box-hd a{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/icon.png) no-repeat;
	background-position: -477px -65px;
	position: relative;
}
.chat-box-hd a ul{
	position: absolute;
	top: 20px;
	right: -75px;
	width: 200px;
	z-index: 1;
}
.chat-box-hd a li{
  color: #000;
}
.chat-box-hd a li:hover{
  background-color: #f5f5f5;
}

.chat-box-content{
	position: absolute;
	top: 61px;
	left: 0;
	right: 0;
	bottom: 180px;
	margin: 0 19px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
}

.myMsg {
	margin-bottom: 16px;
	overflow: hidden;
}

.myMsg #rimg {
	float: right;
}

.myMsg span {
	display: block;
	float: right;
	padding: 9px 13px;
	margin: 0 10px;
	box-sizing: content-box;
	background: #b2e281;
	font-size: 14px;
	line-height: 22px;
	max-width: 396px;
	word-break:break-all;
}

.otherMsg {
	margin-bottom: 16px;
	overflow: hidden;
}

.otherMsg #limg {
	float: left;
}

.otherMsg span {
	display: block;
	float: left;
	padding: 9px 13px;
	margin: 0 10px;
	box-sizing: content-box;
	background: #FFF;
	font-size: 14px;
	line-height: 22px;
	max-width: 396px;
	word-break:break-all;
}

.otherMsg h4 {
  margin: 0 50px;
  font-size: 12px;
}

.chat-box-input{
	height: 180px;
	margin-right: 19px;
	border-top: 1px solid #d6d6d6;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.tool-bar {
	height: 40px;
	padding: 5px 17px;
}

.tool-bar a {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.face {
	background: url(../img/icon.png) -404px -398px no-repeat;
  position: relative;
}
.face ul{
  font-size: 0px;
  width: 276px;
  height: 190px;
  left: 0px;
  bottom: 30px;
  background: #fff;
  padding: 5px 0 0 8px;
  position: absolute;
  z-index: 2;
  list-style-type: none;
}
.face li{
  display: inline-block;
  margin: 0 6px 5px 0;
}

.file {
	background: url(../img/icon.png) -120px -432px no-repeat;
	position: relative;
	overflow: hidden;
}

.file input{
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}

.text {
	box-sizing: content-box;
	height: 6em;
	overflow-x: hidden;
	overflow-y: auto;
	outline: none;
	margin-left: 20px;
}

.action {
	text-align: right;
	padding-top: 5px;
}

.action span {
  color: #888;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 7px;
}

.action a {
	padding: 3px 30px;
	display: inline-block;
	color: #222;
	border: 1px solid #c1c1c1;
	background: #FFF;
	text-decoration: none;
}

.action a:hover {
	background: #f8f8f8;
}

.chat-cover{
	background-color: #eee;
	height: 100%;
	text-align: center;
	line-height: 600px;
}