@theme-color: #2E3238;
body, ul, li, a, p, h2, h3, textarea, button, input, select {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    &:focus {
        outline: none;
    }
}
body{
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url("../img/bg.jpg");
  background-size: cover;
} 
#app{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
}
.login-page{
  display: flex;
  justify-content:center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px;
  width: 400px;
  height: 282px;
  form{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    width: 300px;
    height: 242px;
    text-align: center;
    h2{
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      font-weight: 500;
    }
    input{
      height: 36px;
      border: 1px solid #e5e5e5;
    }
    button{
      height: 36px;
      background: #4eb1f4;
      color: #FFF;
      border: 1px solid #4eb1f4;
      cursor: pointer;
    }
    p{
      align-self:flex-start;
      a{
        color: #4eb1f4;
        cursor: pointer;
      }
    }
  }
}//登录组件

.register-page{
  .login-page;
  height: 328px;
  form{
    height: 288px;
  }
}//注册组件

.main-page{
  display: flex;
  width: 1000px;
  min-width: 800px;
  background: @theme-color;
  height: 80%;
  min-height: 600px;
  .user-info-box{
    position: relative;
    width: 280px;
    .uib-top{
      display: flex;
      align-items: center;
      padding: 18px;
      img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      span{
        color: #fff;
        font-size: 18px;
        width: 156px;
      }
      i{
        color: #6E6E6F;
        font-size: 20px;
        margin-left: 8px;
        cursor: pointer;
      }
    }//顶部个人信息
    .uib-search{
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
      i{
        width: 32px;
        height: 32px;
        background: #26292E;
        color: #939497;
        font-size: 18px;
        text-align: center;
        line-height: 32px;
      }
      input{
        width: 204px;
        height: 32px;
        padding-right: 10px;
        background: #26292E;
        color: #fff;
        font-size: 12px;
      }
    }//搜索栏
    .uib-bottom{
      .nav{
        display: flex;
        height: 35px;
        border-bottom: 1px solid #24272c;
        .nav-button{
          width: 50%;
          text-align: center;
          i{
            font-size: 30px;
            color: #fff;
            cursor: pointer;
          }
        }
        
      }
      .list{
        position: absolute;
        top: 153px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width:8px;
        }
        &::-webkit-scrollbar-thumb{
          background:#404449;
          border-radius:4px;
        }
        .list-pro{
          display: flex;
          color: #fff;
          padding: 12px 10px 11px;
          border-bottom: 1px solid #292c33;
          &:hover{
            background: #3A3F45;
            cursor: pointer;
          }
          img{
            width: 40px;
            height: 40px;
          }
          span{
            margin-left: 10px;
          }
        }
      }
    }//底部用户列表
  }//用户信息盒子
  .chat-box{
    width: 720px;
    min-width: 520px;
    height: 100%;
    background: blue;
  }//聊天盒子
}//聊天页面